<%- include('layout/header') %>

<div class="container-fluid mt-5 shadow-lg p-3 mb-5 rounded">
  <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center brand">Why Online Donations?</h1>
            <div class="row">
                <h2 class="text-center" style="font-size: 20px; letter-spacing: 1px;">When you choose to give, you may not realize that donating to charity will do more than just help your favourite cause, giving can also provide you with many personal benefits. Whether you choose to donate to charities supporting people living in poverty, advocating to protect the environment, helping animals in need, or addressing other global or local problems, charities need your help to continue their selfless initiatives, but giving can feel just as good as receiving!</h2>
            </div>
            <center><img src="img/donate.png" width="640px" height="400px" class="img-fluid rounded"></center>
            <div class="row">
              <h2 class="text-center" style="font-size: 20px; letter-spacing: 1px;">As the internet becomes more and more part of our daily lives, it’s important for nonprofits to keep up with this trend. Statistics show that 54% of donors worldwide prefer to give online and online giving is growing each year. It grew 12.1% in 2017 with overall online revenue for nonprofits increasing by 27% in 2017! That means donors are moving online and so should you! Here’s what you have to gain from moving toward fundraising online:</h2>
            </div>
      </div>
  </div>
</div>

<div class="container-fluid mt-5" style="font-size: 20px;">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
        <div class="col-lg-6 shadow-lg p-3 mb-5 rounded">
          <h3 class="brand">Online donation saves money and time</h3>
            <p>
              Online fundraising builds automation into the process to save you time and money. Think about all of the steps you have to take when you get a check in the mail: wait for the check to be sent, wait for the check to be delivered, manually enter the check into your database, send out a thank you letter and tax receipt. The whole process relies on you doing all the work. 
              Now, imagine a donor gives online, the donation is automatically entered into your database and an automatic thank you and tax receipt are sent out without you lifting a finger. That’s the beauty of online fundraising! The process is automated, no more manual entry into spreadsheets. This automation reduces overhead costs and allows your organization to focus on executing your mission.
            </p>
          <h3 class="brand">You get better data and reporting</h3>
            <p>
              Since online fundraising automates your process you have immediate access to your data. You can real-time track your incoming funds and run reports to have a clear picture of your fundraising efforts. Eliminating manual entry also reduces human error. No more missing a zero or adding an extra zero when entering donations. Better data and reporting allows you to more easily allocate your funds to your programs.
            </p>
        </div>
        <div class="col-lg-6 shadow-lg p-3 mb-5 rounded">
           <h3 class="brand">Online donations improve donor relationships</h3>
            <p>
              Online giving options reduce friction for your donors and makes the process simple and easy for them. 
              Donors don’t have to fuss anymore to find their checkbook, an envelope, and stamps to support your organization. They can easily give to your organization from the comforts of their home or really anywhere now with mobile phones. 
              They also receive a thank you letter and tax receipt in real-time. Your relationship building starts the moment they give. Not only do you receive their donation, but you also receive their contact information, so you can start cultivating relationships immediately. 
            </p>
          <h3 class="brand">Online donations expand your reach</h3>
            <p>
              Moving your fundraising efforts online allows anyone anywhere in the world with internet access the opportunity to join your mission. This allows you to expand your donor base. You are no longer confined to having to see your donors face to face or have their address to make an ask (as you would with direct mailers). Also, with Crowdfunding and Peer-to-Peer fundraising (where your donors fundraise on your behalf) on the rise, offering an online fundraising option is essential. 
            </p>
        </div>
        </div>
      </div>
    </div>
</div>

<%- include('layout/footer') %>