<%- include('layout/header') %>

	<div class="container shadow-lg p-3 mb-5 rounded">
		<div class="row">
		 	<div class="col-lg-4">
		 		<img src="img/hero.jpg" class="img-fluid rounded" width="800" height="600">
		 	</div>
		 	<div class="col-lg-8" style="letter-spacing: 2px; font-size: 20px;">
		 		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esseaborum.
		 	</div>
		</div><br /><br /><br /><br />

		<div class="row">
			<div class="col-lg-8" style="letter-spacing: 2px; font-size: 20px;">
		 		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esseaborum.
		 	</div>
		 	<div class="col-lg-4">
		 		<img src="img/hero.jpg" class="img-fluid rounded" width="800" height="600">
		 	</div>
		</div><br /><br /><br /><br />

		<div class="row">
			<div class="col-lg-4">
		 		<img src="img/hero.jpg" class="img-fluid rounded" width="800" height="600">
		 	</div>
		 	<div class="col-lg-8" style="letter-spacing: 2px; font-size: 20px;">
		 		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esseaborum.
		 	</div>
		</div>
	</div>
<%- include('layout/footer') %>