<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto shadow-lg p-3 mb-5 rounded">
      <div class="row">
        <!--contact details-->
          <div class="container-fluid mt-5">
            <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                  <div class="col-md-4"><br />
                    <h1 class="text-center display-6" style="font-size: 28px;"><i class="fas fa-address-book"></i> <b>Contact Details</b></h1>
                    <h2 class="text-center" style="font-size: 20px; letter-spacing: 1px;">Mukono Hill, Mukono</h2>
                    <h2 class="text-center" style="font-size: 20px; letter-spacing: 1px;">Phone: (075) 724-8831</h2>
                    <h2 class="text-center" style="font-size: 20px; letter-spacing: 1px;">Email: info@tuyambe.com</h2><br /><br />
                    <h2 class="text-center" style="font-size: 20px; letter-spacing: 1px; font-weight: bold">
                      <p><i class="fab fa-facebook"></i></p>
                      <p><i class="fab fa-twitter"></i></p>
                      <p><i class="fas fa-share-alt"></i></p>
                    </h2>
                  </div>
                  <div class="col-lg-8"><br />
                    <h1 class="text-center display-6" style="font-size: 28px;"><i class="far fa-paper-plane"></i> <b>Send Us a message</b></h1>
                        <form action="/send-message" method="POST">
                          <div class="control-group form-group">
                            <div class="controls">
                              <label><i class="fas fa-heading"></i> Full Name:</label>
                              <input type="text" class="form-control" id="name" placeholder="Your name" name="name">
                              <p class="help-block"></p>
                            </div>
                          </div>

                          <div class="control-group form-group">
                            <div class="controls">
                              <label><i class="fas fa-envelope-open-text"></i> Email Address:</label>
                              <input type="email" class="form-control" id="email" placeholder="Your email address" name="email">
                              <p class="help-block"></p>
                            </div>
                          </div>

                          <div class="control-group form-group">
                            <div class="controls">
                              <label><i class="fas fa-mobile-alt"></i> Phone Number:</label>
                              <input type="telephone" class="form-control" id="phone" placeholder="Your Phone number" name="phone">
                              <p class="help-block"></p>
                            </div>
                          </div>

                    
                          <div class="control-group form-group">
                            <div class="controls">
                              <label><i class="fas fa-comment-alt"></i> Message:</label>
                              <textarea rows="5" cols="50" id="message" name="message" class="form-control" placeholder="Your message"></textarea>
                            </div>
                          </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" style="font-size: 24px;"><i class="fas fa-check-circle"></i> Send Message</button>
                    </div>
                        </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--end contact details-->
      </div>
    </div>
  </div>
</div>